<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherApp | Forecast ,locations & more...</title>
    <link rel="stylesheet" href="/./css/style.css">
    <script src="/./js/front.js"></script>
</head>
<body>
    <div class="contenedor">
    <div class="main-content">
    {{>header}}
    <img src="/./img/meLogo.png" alt="logo" id ="imagen-acerca">
    <h3>My name is {{name}}</h3>
    <p>I'm a {{profession}}.</p>
    <p> This site was created with resources of the API's...<br>
    mapbox.com & weatherstack.com</p>
    </div>
    <div class="foot">
    {{>footer}}
    </div>
    </div>
</body>
</html>