<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherApp | Forecast ,locations & more...</title>
    <link rel="stylesheet" href="/./css/style.css">
    <script src="/./js/front.js"></script>
</head>
<body>
    <div class="contenedor">
    <div class="main-content">
    {{>header}}
    <h2>Help page! dinamic page with handlebars...</h2>
    <h2>{{message}}</h2>
    </div>
    <div class="foot">
    {{>footer}}
    </div>
    </div>
    
</body>
</html>